body{
    width: 1888px;
    height: 2280px;
    background-color: black;
}
.iso{
    position: absolute;
    opacity: 0.7;                   /*이미지의 투명도 값을 줍니다.*/
    width: 1888px;
    height: 1050px; 
    -webkit-filter: grayscale(50%); /*필터의 값을 넣어줍니다.*/
    filter: gray                  /*필터의 색깔은 회색입니다.*/
}
.iso:hover{
    -webkit-filter: grayscale(0%);   /*필터의 값을 넣어줍니다*/
    filter: none                     /*필터의 색깔은 none입니다.*/
}
.Gamestorymp4{                       /*Charcter에도 관여합니다*/
    background: none;
    width: 250px;
    height: 250px;
    border: solid 5px #fff;       /*바깥라인 값을 줍니다.*/
    border-radius: 100%;            /*원형 값을 줍니다.*/
    position: relative; 
    text-indent:-9999px;            
    /*text-indent는 문단의 첫줄 들여쓰기입니다 -9999값을 주어 화면 밖으로 보냅니다.*/
    position: absolute;
    top: 40%;
    left: 43%;
  }
.mp4
{
    width: 200px;
    height: 200px;
    background-color: white;
}
.Gamestorymp4:hover{                   /*가운데 원에 올리면 나오는 효과입니다.*/
    background:#101010;
    cursor:pointer;
    opacity:0.8;                   /*투명도 값을 줍니다.*/
    position:absolute;  
    width: 250px;
    height: 250px; 
    background-image: url(media.jpg); /*이미지를 불러옵니다.*/
    background-position: center;      /*이미지를 가운데로 위치시킵니다.*/
    background-repeat:no-repeat;         /*이미지를 하나만 반복하지 않게 하는 효과입니다.*/
}
  
.Gamestorymp4:hover span{
    top:20%;
    left:26%;
}  
.summaryt1{
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    top: 720px;
    left: 35%;
    opacity: 0.8;                       /*투명도 값을 줍니다.*/
}
.summaryt2{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    top: 780px;
    left: 35%;
    opacity: 0.8;                          /*투명도 값을 줍니다.*/
}
.Charcters{
    padding: 2px;                  /*4면이 2px입니다*/
    width: 1888px;                 
    height: 1000px;
    display: block;
    position: relative;
    margin-top: 899px;
    margin-left: -2px;
}
.slides1 input{
    display: none
}
.slide-container{
    display: block;
}

.Charcter {
    top: 0;
    width: 1888px;
    height: 1000px;
    display: block;
    position: absolute;
    transform: scale(0);                      /*이미지 확대는 없습니다.*/
}
.Charcter img {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}
input:checked + .slide-container  .Charcter {
    opacity: 1 ;              /*이미지의 투명도 0*/
    transform: scale(1);     /*이미지의 크기 1배 0으로 하면 안보이고 1보다 크면 이미지가 커집니다.*/
}
input:checked +.slide-container{
     display: block;          /*요소를 렌더링 하지 않도록 설정합니다.*/
}
.vizla{                                /*도트를 꾸며주는 css입니다.*/
    position: absolute;
    background-image: url(hunter.jpg);
    background-position: center;       /*백그라운드 이미지를 중앙으로 위치시킵니다.*/
    background-repeat:no-repeat;         /*이미지를 하나만 반복하지 않게 하는 효과입니다.*/
    background-size: cover;            /*백그라운드 이미지를 화면 크기에 맞춥니다.*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 400px;
    margin-left: 1700px;
    z-index: 1;                         /*수직 순서를 바꿉니다. 헌터 토트가 맨위로 올라오게 합니다.*/
}
.vizla:hover{
    background-image: url(비즐라.jpg);  /*찾아보기 편하도록 하였습니다.*/
    opacity: 0.7;                      /*이미지의 투명도를 추가합니다.*/
}
.Archer{
    position: absolute;
    background-image: url(Archerimo.jpg);
    background-position: center;       /*백그라운드 이미지를 중앙으로 위치시킵니다.*/
    background-repeat:no-repeat;         /*이미지를 하나만 반복하지 않게 하는 효과입니다.*/
    background-size: cover;            /*백그라운드 이미지를 화면 크기에 맞춥니다.*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 520px;
    margin-left: 1700px;
    z-index: 1;                         /*수직 순서를 바꿉니다. 어새신 토트가 맨위로 올라오게 합니다.*/
}
.Archer:hover{
    background-image: url(Archer.jpg);  /*찾아보기 편하도록 하였습니다.*/
    opacity: 0.7;                      /*이미지의 투명도를 추가합니다.*/
}
.warrior{
    position: absolute;
    background-image: url(warriorimo.jpg);
    background-position: center;       /*백그라운드 이미지를 중앙으로 위치시킵니다.*/
    background-repeat:no-repeat;         /*이미지를 하나만 반복하지 않게 하는 효과입니다.*/
    background-size: cover;            /*백그라운드 이미지를 화면 크기에 맞춥니다.*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 640px;
    margin-left: 1700px;
    z-index: 1;                         /*수직 순서를 바꿉니다. 워리어 토트가 맨위로 올라오게 합니다.*/
}
.warrior:hover{
    background-image: url(warrior.jpg);  /*찾아보기 편하도록 하였습니다.*/
    opacity: 0.7;                      /*이미지의 투명도를 추가합니다.*/
}
.knight{
    position: absolute;
    background-image: url(knightimo.jpg);
    background-position: center;       /*백그라운드 이미지를 중앙으로 위치시킵니다.*/
    background-repeat:no-repeat;         /*이미지를 하나만 반복하지 않게 하는 효과입니다.*/
    background-size: cover;            /*백그라운드 이미지를 화면 크기에 맞춥니다.*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 760px;
    margin-left: 1700px;
    z-index: 1;                         /*수직 순서를 바꿉니다. 나이트 토트가 맨위로 올라오게 합니다.*/
}
.knight:hover{
    background-image: url(knight.jpg);  /*찾아보기 편하도록 하였습니다.*/
    opacity: 0.7;                      /*이미지의 투명도를 추가합니다.*/
}
.charctert1{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    left: 7%;
    top: 620px;               
    text-align: center;
}
.charctert2{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    top: 800px;               
    text-align: center;
}
.introduction{
    color: #ff4040;
}
.footerwrap{ 
    border-top: solid #101010;
    border-width: 4px;
    background: #2E2E2E; 
    position: absolute;  
    width:1903px; 
    height:300px; 
    top: 2005px;
    left: 0px;
}
.text2 {
    color: #707070;
    font-size: 20px;
    text-align: end;
    margin-top: 60px;
    margin-right: 20px;
}
